@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: "Futura Bold", "Gill Sans", Arial, "Helvetica Neue", Helvetica,
    sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* CSS STARTS HERE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1f1f1f;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Common styles */

:root {
  --highlighted: #58cb9e;
  --success: #8fd0a6;
  --secondary: #303030;
  --dark-light: #f3f3f3;
  --light: #fff;
  --muted: #c1c1c1;
  --dark-grey: #828282;
  --responsive: rgba(0, 0, 0, 0.9);
}

.wrapper {
  max-width: 1350px;
  width: 79.33%;
  margin: 0 auto;
}

/* header starts here */

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 55px 0 31px 0;
  border-bottom: 1px solid var(--secondary);
  font-family: sans-serif;
}

header .wrapper h1 a {
  font-size: 43px;
  line-height: 38px;
  color: var(--light);
  font-weight: 800;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 14px;
}

nav ul li {
  margin-right: 20px;
}
nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  padding: 10px 0;
  display: inline-block;
  font-size: 17px;
  font-weight: 200;
  line-height: 17px;
  transition: all 0.3s ease;
  color: var(--muted);
}

header nav li:first-child {
  margin-bottom: 3%;
  font-family: sans-serif;
}

header nav li:first-child ::after {
  content: "";
  width: 100%;
  height: 4px;
  margin-top: 10px;
  display: block;
  background: var(--success);
}

/* header ends here */

/* Hamburger starts here */

.hamburger {
  width: 35px;
  border: none;
  display: block;
  display: none;
  position: relative;
  background: none;
  appearance: none;
  cursor: pointer;
  outline: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  width: 100%;
  height: 5px;
  margin: 6px 0;
  display: block;
  background: var(--light);
  transition: 0.4s;
}

.hamburger.active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.active .bar {
  opacity: 0;
}

/* Hamburger ends here */

/* filtering Item starts here */

.image_filtering_section .wrapper {
  border-bottom: 1px solid var(--secondary);
}
.image_filtering_section .items {
  padding: 40px 0 0 0;
}

.image_filtering_section .items .item {
  margin-right: 2.7%;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  color: var(--light);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.image_filtering_section .items .item.menuactive {
  padding: 7px 14px;
  background-color: #8fd0a6;
  color: #fff;
}

/* Filtering Item ends here */

/* Fitering image starts here */
.gallery {
  padding: 38px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery .image {
  width: calc(100% / 4);
  cursor: pointer;
  transition: all 0.3s ease;
}

.gallery .image img {
  width: 100%;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: filter 0.3s ease;
  filter: brightness(45%);
}

/* Fitering image ends here */

/* Footer starts here */

/* footer-top starts here */

.footer_top > .wrapper {
  padding: 36px 0;
  border-top: 1px solid var(--secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-between;
}

.footer_top > .wrapper h2 {
  margin-bottom: 6%;
  color: var(--light);
  font-weight: 200;
  font-family: sans-serif;
}

.footer_top > .wrapper .text__widgets {
  flex-basis: 25%;
}
.footer_top > .wrapper .posts {
  flex-basis: 22%;
}
.footer_top > .wrapper .tags {
  flex-basis: 23%;
}
.footer_top > .wrapper .ft_gallery {
  flex-basis: 20%;
}

.footer_top > .wrapper .text__widgets p {
  margin-bottom: 3%;
  color: var(--dark-grey);
  font-size: 15px;
  font-family: sans-serif;
}

.footer_top > .wrapper .posts li {
  margin-bottom: 3%;
  font-family: sans-serif;
}

.footer_top > .wrapper .posts li::after {
  content: "";
  width: 100%;
  height: 1px;
  margin-top: 15px;
  display: block;
  background: var(--dark-grey);
}

.footer_top > .wrapper .posts li:last-child::after {
  width: 0px;
}

.footer_top > .wrapper .posts li a {
  color: var(--dark-grey);
  font-size: 15px;
}

.footer_top > .wrapper .tags a {
  padding: 8px 7px;
  margin: 0 2% 4% 0;
  display: inline-block;
  background: var(--success);
  color: var(--dark-light);
  font-size: 17px;
  transition: all 0.3s ease;
}

.footer_top > .wrapper .ft_gallery {
  width: 45%;
  display: inline-block;
}

.ft__gallery figure:nth-child(4n) {
  padding-right: 0;
}

.ft__gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ft__gallery .image {
  width: calc(100% / 4);
  padding: 4px;
}

.gallery .image.hide {
  display: none;
}
.gallery .image.show {
  display: block;
}

.ft__gallery .image img {
  width: 100%;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  filter: brightness(45%);
  cursor: pointer;
}

/* footer-top ends here */

/* footer-bottom starts here */

.footer_bottom > .wrapper {
  padding: 17px 0;
  border-top: 1px solid var(--secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: var(--light);
}

.footer_bottom > .wrapper span {
  color: var(--muted);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social li {
  margin-right: 20px;
  display: inline-block;
}

.social li:last-child {
  margin-right: 0px;
}

.social a {
  border-radius: 50em;
  display: inline-block;
  background: var(--light);
  text-indent: -9999px;
}

.social a::before {
  content: "";
  padding: 7px;
  margin-right: 3px;
  display: block;
  color: var(--secondary);
  font: 900 15px "Font Awesome 5 Brands";
  float: right;
  text-indent: 0;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.facebook a::before {
  content: "\f39e";
}
.twitter a::before {
  content: "\f099";
}
.google-plus a::before {
  content: "\f0d5";
}
.pinterest a::before {
  content: "\f231";
}
.youtube a::before {
  content: "\f167";
}
.linkedin a::before {
  content: "\f0e1";
}

/* footer-bottom ends here */

/*media query starts*/
/*media query for hover effects starts here*/

@media (min-width: 982px) {
  nav ul li a:hover {
    color: var(--success);
    transition: all 0.3s ease;
  }

  .social a:hover::before {
    color: var(--highlighted);
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
  }

  .gallery .image img:hover {
    filter: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: filter 0.3s ease;
  }

  .ft__gallery .image img:hover {
    filter: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: filter 0.3s ease;
  }

  .footer_top > .wrapper .posts li a:hover { color: var(--success); }

  .footer_top > .wrapper .tags a:hover {
    background: var(--muted);
    transition: all 0.3s ease;
  }
}
/*media query for hover effects ends here*/

/*media query for 982px starts here*/
@media (max-width: 982px) {
  .footer_top > .wrapper .ft_gallery { width: 100%; }

  .footer_bottom > .wrapper span {
    margin-bottom: 5%;
    display: inline-block;
  }

  header .wrapper {
    width: 100%;
    padding: 35px;
    position: fixed;
    position: relative;
    z-index: 11;
    /* background-color: #8fd0a6; */
  }

  nav ul {
    width: 100%;
    /* min-height: 100vh; */
    height: 100vh;
    padding-top: 115px;
    display: block;
    position: absolute;
    z-index: 98;
    top: 112px;
    left: 100%;
    background: var(--responsive);
    transition: all 0.3s ease;
  }

  nav ul.isactive { left: 0; }
  nav ul li:last-child { margin-right: 20px; }

  nav ul li a {
    max-width: 200px;
    width: 100%;
    padding: 12px 16px;
    margin: 0 auto 16px;
    display: block;
    text-align: center;
    color: #fff;
  }

  .hamburger {
    display: block;
    z-index: 9999;
  }

  .gallery .image { width: calc(100% / 3); }
  .footer_top > .wrapper { display: block; }

  .footer_bottom > .wrapper {
    display: block;
    text-align: center;
  }

  .ft_gallery { width: 100%;  }
  .image_filtering_section .wrapper .items .item {padding: 5px 0px; }
  .image_filtering_section .items .item:first-child { padding: 7px 14px; }
  header nav li:first-child ::after { width: 0; }
}
/*media query for 982px ends here*/

/*media query for 768px starts here*/
@media (max-width: 768px) {
  .gallery .image { width: calc(100% / 2); }

  .image_filtering_section .wrapper .items .item {
    margin: 5px;
    display: inline-block;
  }
}
/*media query for 768px ends here*/

/*media query for 540px starts here*/
@media (max-width: 540px) {
  .wrapper .items { max-width: 600px; }
  .wrapper .items .item { padding: 7px 15px; }
}
/*media query for  540px ends here*/

/*media query for 480px starts here*/
@media (max-width: 480px) {
  .wrapper .items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper .items .item {  margin: 5px; }
  .gallery .image { width: 100%; }
}

/*media query for 480px ends here*/

/*media query for 320px starts here*/
@media (max-width: 320px) {
  .image_filtering_section .wrapper .items .item { display: block; }
}
/*media query for 320px ends here*/

/* CSS ENDS HERE */
